// font 
$font-stack: 'Public Sans', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// colors
$color-darkblue: hsl(233, 26%, 24%);
$color-green: hsl(136, 65%, 51%);
$color-blue: hsl(192, 70%, 51%);
$color-grey: hsl(233, 8%, 62%);
$color-lightgrey: hsl(220, 16%, 96%);
$color-verylightgrey: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);